# Ignorar todo por defecto
*

# Exceptuar la carpeta dist
!dist/
!dist/**

# Ignorar archivos y carpetas específicas en dist si necesario
dist/**/*.log

# Ignorar archivos y carpetas específicas en el resto del proyecto
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
